.landing {
    min-height: 90vh;
}

h5 {
    padding-top: 20px;
}

.logo {
    font-size: 144px;
}

.card {
    height: 375px;
}

.card-content {
    padding: 18px !important;
    padding-top: 14px !important;
}

.card-action {
    padding: 18px !important;
}

.card-title {
    font-size: 24px !important;
    font-weight: bolder;
}

.card-image {
    height: 200px;
}

.card-image img {
    object-fit: cover;
    min-height: 200px;
}